{% extends 'main.html' %}
{% load static %}

{% block content %}
  <main class="layout layout--3">
        <div class="container">
          <!-- Topics Start -->
          <div class="topics">
            <div class="topics__header">
            </div>
            <ul class="topics__list">
              <li>
                <a id="home-link" href="{% url 'home' %}">Discover Recipes </a>
              </li>
              <li>
                <a id="my-recipes-link" href="{% url 'my-recipes' %}">My Recipes <span>{{counts.my_recipes}}</span></a>
              </li>
              <li>
                <a id="my-favorites-link" href="{% url 'my-favorites' %}">My Favorites <span>{{counts.my_favorites}}</span></a>
              </li>
            </ul>
          </div>
          <!-- Topics End -->

          <!-- Room List Start -->
          <div class="roomList">
            <div class="mobile-menu">
              <form class="header__search">
                <label>
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <title>search</title>
                    <path
                      d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z"
                    ></path>
                  </svg>
                  <input placeholder="Search for posts" />
                </label>
              </form>
              <div class="mobile-menuItems">
                <a class="btn btn--main btn--pill" href="#">Browse Topics</a>
                <a class="btn btn--main btn--pill" href="#">Recent Activities</a>
              </div>
            </div>
            <div class="roomList__header">
              <div>
                <h2>Recipes</h2>
              </div>
              {% if type != 'create-recipe' and request.user.is_authenticated %}
              <a class="btn btn--main" href="{% url 'create-recipe' %}">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <title>add</title>
                  <path
                    d="M16.943 0.943h-1.885v14.115h-14.115v1.885h14.115v14.115h1.885v-14.115h14.115v-1.885h-14.115v-14.115z"
                  ></path>
                </svg>
                Create Recipe
              </a>
              {% endif %}
            </div>
            <div class="thumbnail-container">
              {% if type == 'create-recipe' %}
                <div class="recipe-thumbnail">
                  <form id="create-recipe-form" action="" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value='submit'>
                </div>
                </form>
              {% endif %}
              {% for recipe in recipes %}
                <div class="recipe-thumbnail">
                  {% if type == 'discover' %}
                    <form action="">
                      {% csrf_token %}
                      <svg 
                        {% if recipe.recipe.uri in favorites %}
                        style="width:24px;height:24px;color:black;"
                        {% else %} 
                        style="width:24px;height:24px"
                        {% endif %}
                        viewBox="0 0 24 24"
                        
                      >
                        <path 
                        data-user="{{request.user}}"
                        data-recipe="{{recipe.recipe.uri}}"
                        data-label="{{recipe.recipe.label}}"
                        data-share="{{recipe.recipe.shareAs}}"
                        onclick="addToFavorites(event)"
                        fill="currentColor" 
                        d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z" />
                    </svg>
                      {% comment %} <input
                        class="favorite-heart"
                        type="image"
                        src="{% static 'images/heart.svg' %}"
                        alt="Add To Favorites"
                        data-user="{{request.user}}"
                        data-recipe="{{recipe.recipe.uri}}"
                        data-label="{{recipe.recipe.label}}"
                        data-share="{{recipe.recipe.shareAs}}"
                      > {% endcomment %}
                    </form>
                    {% comment %} <object class="favorite-heart" data="{% static 'images/heart.svg' %}" type="image/svg+xml"></object> {% endcomment %}
                    <div class="title-container">
                      <a
                        class="title"
                        href="{% url 'recipe' recipe.recipe.uri %}"
                      >
                        {{recipe.recipe.label}}
                      </a>
                    </div>
                    <img class="thumbnail-image" src="{{recipe.recipe.image}}">
                  {% elif type == 'my-recipes' %}
                    <div class="title-container">
                      <a
                        class="title"
                        href="{% url 'recipe' recipe.id %}"
                      >{{recipe.name}}
                      </a>
                    </div>
                    <img class="thumbnail-image" src="" alt="Recipe Image">
                  {% elif type == 'my-favorites' %}
                    <div class="title-container"><a class="title" href="{% url 'recipe' recipe.recipe %}">{{recipe.label}}</a></div>
                    <img class="thumbnail-image" src="" alt="Favorite Recipe Image">
                  {% endif %}
                </div>
              {% endfor %}
            </div>
            
          </div>
          <!-- Room List End -->

          <!-- Activities Start -->
          <div class="activities">
            <div class="activities__header">
              <h2>Recent Recipes</h2>
            </div>
            {% for recipe in recent_recipes %}
            <div class="activities__box">
              <div class="activities__boxHeader roomListRoom__header">
                <a href="profile.html" class="roomListRoom__author">
                  <p>
                    @{{recipe.author}}
                    <span>5 days ago</span>
                  </p>
                </a>
                <div class="roomListRoom__actions">
                </div>
              </div>
              <div class="activities__boxContent">
                <p>created recipe “<a href="{% url 'recipe' recipe.id %}">{{recipe.name}}</a>”</p>
                <div class="activities__boxRoomContent">
                  {{recipe.description}}
                </div>
              </div>
            </div>
            {% endfor %}
            
          </div>
          <!-- Activities End -->
        </div>
      </main>
      {% endblock content %}
      {% comment %} <script src="script.js"></script> {% endcomment %}

