
{% extends 'main.html' %}



{% block content %}


  <div class="home-container">
    {% if request.user.is_authenticated %}
      <div>
        <h3><a href="{% url 'my-recipes' %}">My Recipes</a></h3>
        <hr>
      </div>
    {% else %}
      <style>
        .home-container{
          grid-template-columns: 1fr;
        }
      </style>
    {% endif %}

    <div>
      {% if request.user.is_authenticated %}
        <a href="{% url 'create-recipe' %}">Create Recipe</a>
      {% endif %}
      <div class="thumbnail-container">
        {% for recipe in recipes %}
          <div class="recipe-thumbnail">
            {% comment %} <span>{{recipe.name}}</span>
                    <img src="{{recipe.thumbnail_url}}"></img>
                    <span>{{recipe.description}}</span> {% endcomment %}
            <div class="title-container"><a class="title" href="{% url 'recipe' 'recipe_d42aa3b1ae4cc6397491f6ebc654fd59'%}">{{recipe.recipe.label}}</a></div>

            <img src="{{recipe.recipe.image}}"></img>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock content %}