{% extends 'main.html' %}
{% load static %}


{% block content %}
<main class="update-account layout">
  <div class="container">
      <div class="layout__box">
          <div class="layout__boxHeader">
              <div class="layout__boxTitle">
                  <a class="go-back" href="{{request.META.HTTP_REFERER}}">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                          viewBox="0 0 32 32">
                          <title>arrow-left</title>
                          <path
                              d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                          </path>
                      </svg>
                  </a>
                  <h3>Recipe Details</h3>
              </div>
              {% if request.user == recipe.author %}
              <a href="{% url 'delete-recipe' recipe_id %}">Delete Recipe</a>
              {% endif %}
          </div>
          <div class="layout__body">
            {% if 'recipe' in recipe_id %}
            {% if request.user.is_authenticated %}
            <form action="" method="POST">
              {% csrf_token %}
            {% if is_favorite %}
            <a 
              onclick="addToFavorites(event)"
              data-user="{{request.user}}"
              data-recipe="{{recipe_id}}"
              data-label="{{recipe.label}}"
              data-share="{{recipe.shareAs}}"
              data-favorite="{{is_favorite}}"
              data-image="{{recipe.images.LARGE.url}}"
              id="add-to-favorites"
            >
              Remove From Favorites
            </a>
            {% else %}
            <a 
              onclick="addToFavorites(event)"
              data-user="{{request.user}}"
              data-recipe="{{recipe_id}}"
              data-label="{{recipe.label}}"
              data-share="{{recipe.shareAs}}"
              data-image="{{recipe.images.LARGE.url}}"
              data-favorite="{{is_favorite}}"
              id="add-to-favorites"

            >Add To Favorites
            </a>
            {% endif %}
            </form>
            {% endif %}
            {% endif %}
            {% if type != 'own' %}
            <h1 class="recipe-name">{{recipe.label}}</h1>
            <img src="{{recipe.images.REGULAR.url}}" alt="Recipe Image">
            <div>
              <h1>INGREDIENTS</h1>
              <ul>
                {% for ingredient in recipe.ingredientLines %}
                <li>{{ingredient}}</li>
              {% endfor %}
              </ul>
              <a href="{{recipe.shareAs}}">View Preparation Instructions and Nutrional Info</a>
            </div>
            {% else %}
            <h1 class="recipe-name">{{recipe.name}}</h1>
            {% if recipe.image %}
            <img src="{{recipe.image}}" alt="">
            {% endif %}

            {% if recipe.recipe_image %}
            <p>{{recipe.recipe_image.url}}</p>
            {% endif %}
            <p>{{recipe.description}}</p>
            <h1>INGREDIENTS</h1>
            <form>
              {% csrf_token %}
            <ul>
              {% for ingredient in recipe.ingredients %}
                {% if request.user == recipe.author %}
                <li>{{ingredient.text}}<a data-id="{{ingredient.id}}" data-prev="{{ingredient.text}}" data-type="ingredient" href="javascript:void(0)" onclick="editItem(event)">Edit</a><a data-type="ingredient" data-id="{{ingredient.id}}" href="javascript:void(0)" onclick="deleteItem(event)">Delete</a></li>
                {% else %}
                <li>{{ingredient.text}}</li>
                {% endif %}

              {% endfor %}
            </ul>
          </form>
            <h1>INSTRUCTIONS</h1>
            <ul>
              {% for instruction in recipe.instructions %}
                {% if request.user == recipe.author %}
                  <li>{{instruction.text}}<a data-id="{{instruction.id}}" data-prev="{{instruction.text}}" data-type="instruction" href="javascript:void(0)" onclick="editItem(event)">Edit</a><a data-type="instruction" data-id="{{instruction.id}}" href="javascript:void(0)" onclick="deleteItem(event)">Delete</a></li>
                {% else %}
                  <li>{{instruction.text}}</li>
                  {% endif %}

              {% endfor %}
            </ul>
            {% endif %}
          </div>
      </div>
  </div>
</div>
</main>


{% endblock content %}