.recipe-thumbnail {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;

}

.recipe-thumbnail img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.thumbnail-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Set the width of the columns to a minimum of 200px and a maximum of 1 fraction of the available space */
    grid-template-rows: repeat(auto-fit, 250px); /* Set the height of the rows to 200px */
    grid-gap: 10px; /* Add some space between the images */
}

.home-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}


.title-container {
    display: flex;
    justify-content: center;
    height: 2.25rem;

}